.icon {
    margin: 5px 10px -10px;
    width: 50px;
}

.footer {
    bottom: 0;
    width: 99.1vw;
    background-color: #d8d4d5;
}

p {
    font-family: "K2D", sans-serif;
}

.footer-content {
    text-align: center;
}

h1,
h2 {
    margin-left: 5%;
    font-family: "Iowan Old Style", serif;
}

.styletitle {
    font-size: 128px;
}

.nametitle {
    margin-top: -5%;
    font-size: 192px;
}
.titlecontent {
    margin-top: 5%;
}
.titleboxparent {
    /* width: 1512px;
    height: 882px; */
    height: 100vh;
    background-color: #d8d4d5;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.aboutmetitle {
    text-align: center;
    border-bottom: 3px solid #000000;
    border-width: medium;
    font-size: 106px;
}

.titlebox {
    background-color: #d8d4d5;
    padding: 0%;
    margin: 0%;
}

.aboutmeboxparent {
    background-color: #a9749d;
    height: 100vh;
    justify-content: center;
}

.aboutmecontentbox {
    margin: 5%;
    border-radius: 50px;
    background: #f9fbf2;
    flex: 2;
    justify-content: center;
    padding-bottom: 3%;
}

.titleboxparent,
.aboutmeboxparent,
.technologiesboxparent {
    display: flex;
    flex-direction: column;
}
.aboutmetitle,
.aboutmecontent {
    margin-left: 5%;
    margin-right: 5%;
}
.aboutmecontent {
    font-size: 32px;
    margin-bottom: 5%;
}
body {
    width: 99.1vw;
    margin-left: -0.01342281879%;
    margin-top: 0.008105369807%;
}
.technologiesboxparent {
    background-color: #2ec4b6;
    height: 100vh;
}
.technologiestitle {
    text-align: center;
    font-size: 106px;
}
.techbox {
    border-radius: 30px;
    background: #f9fbf2;
    width: 26.455026455vw;
    height: 23.2760692464vh;
}
.techtitle {
    font-size: 32px;
}
